@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* ---- HTML ELEMENT STYLING ---- */
html{
    font-size: 62.5%;
}

html{
    /* font-size: 10px; */
    /* 16px==100% */
    /*  10px==(100/16)*10  */
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    /* 1.6rem=16px */
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}


/*  ---- UTILITY CLASSES ----  */

.container{
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
}

.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem;
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color:#333;
}
.text-gray{
    color:#555;
}
.bg-dark{
    background-color: #263238;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}
.btn-primary:hover{
    background-color: #ddd;
}
.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
    background:#fff ;
    /* padding-left: 10px; */
}
.btn-secondary:hover{
    background-color: #ddd;
}

/* ----HEADER STYLING---- */

.header{
    position: relative;
    height:95vh;
    /* border:20px solid green; */
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../Img/Img/pexels-lisa-fotios-1083822.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* h1{
    color:white;
    font-weight: 800;
} */
.navbar{
    padding: 1rem;
}

/* .header .logo,
.header .navbar a{
    color: white;

} */
.navbar .logo{
    float:left;
    font-size: 3.5rem;
}

.navbar .nav-items{
    float:right;
    margin-top:1rem ;
}

.navbar .nav-item{
    display:inline-block;
    padding: 1rem ;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color:#f4f4f4;
}

.navbar a{
    padding-bottom: 0.3rem;
}

.hover{
    border-bottom: 1px solid #fff;

}

.navbar::after{
    content:'';
    display: block;
    clear:both;
}

/* ---- HEADER CONTENT STYLING---- */
.header-content{
    position: absolute;
    text-align: center;
    /* border:2px solid white; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));
}

.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p{
    text-transform: uppercase;
}


/* ---- SHOWCASE SECTION STYLING---- */
.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #555;
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float:left;
    width:50%
}

.row2 .img-box, .row1 .text-box{
    float:right;
    width:50%
}

.row .img-box{
    height: 100%;
}

.row .img-box{ 
    padding: 3rem;
}

.row .img-box img{
    display: inline-block;
    width:100%;
    height:100%;
    object-fit: cover;
}
/* .text-box p{
    margin: auto;
}
.text-box p{
    margin: auto;
} */

.row::after{
    content: '';
    display: block;
    clear: both;
}


/* ------ FEATURES SECTION STYLING------ */
.features{
    padding: 10rem 0;
}
.box-wrapper{
    /* border: 2px solid green; */
    box-shadow: 5px 5px 10px 0px #333;
}
.box{
    width:33.3333333%;
    float: left;
    text-align: center;
}
.box-1, .box-3{
    background-color: #263238;
    color: #fff;
}
.box-2{
    background: #2f0122;
    color:#fff;
}

.box-wrapper::after{
    content:"";
    display:block ;
    clear: both;
}


/* ############ FOOTER STYLING  ########### */
.footer{
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}
.social-media-links i{
    margin:2rem;
}


/* ############ ABOUT PAGE STYLING ############# */
.about{
    padding: 5rem 0;
}

.about-heading{
    border-bottom: 6px solid #2f0122;
}



/* ########### ABOUT WRAPPER STYLING########### */
.about-wrapper{
    text-align: center;
    margin-top: 2rem;
}

.about-wrapper .left{
    float:left;
    width:50%;
}

.about-wrapper .right{
    float:right;
    width:50%;
}

.about-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.about-wrapper li::before{
    content:"\2713";
    color: #2f0122;
    font-weight: bold;
    padding-right: 1rem;
}


/* ############## COUNT STYLING ########### */
.counts{
    margin-top: 3rem;
    /* border: 6px solid black; */
}

.count-item{
    /* border:2px solid red; */
    width: 25%;
    float: left;
    text-align: center; 
}

.counts::after{
    content: "";
    display: block;
    clear: both;
}

.count-item span{
    font-size: 3rem;    /*--3rem == 30px --*/
    font-weight: 700;
    color:#2f0122;
}

.count-item p{
    font-weight: 700;
    color: #555;
    font-size: 1.8rem;
}


/* ############ BANNER STYLING ########### */

.cta-banner{
    background: #2f0122;
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
    margin-top:3rem;
}

.cta-banner-left{
    width:60%;
    float:left;
}

.cta-banner-right{
    width:40%;
    float:right;
    text-align: right;
}

.cta-line{
    font-weight: 400;
    font-size: 2rem;
    margin-top: 1.3rem;
}

.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3rem 2.5em;
    letter-spacing: 0.5rem;
    color:#f4f4f4;
}

.cta-banner::after{
    content:"";
    display:block;
    clear: both;
}


/* ########### CONTACT PAGE STYLING ######### */
.contact-form{
    padding:5rem 0;
    background:#f7f7f7;
}

/* .form-wrapper{
    
} */

.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.form-wrapper .company-address{
    height:760px;
    background: #fff;
    /* border:4px dotted green; */
    width:49%;
    float:left;
    padding: 1rem;
}

.form-wrapper .company-address i{
    display:inline-block;
    margin-right: 1rem ;
}

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-group{
    margin-bottom:3rem ;
}

.form-wrapper .company-address img{
    max-width:90%;
    min-height:40rem ;
    object-fit: cover;
    /* object-position: center; */
}


/* ########### FORM STYLING ########### */
.form-wrapper .form{
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
    /* border:4px dotted black; */
    width:49%;
    float:right;
    padding: 1rem;
}
.form h1::after{
    content:"";
    display: block;
    border:3px solid #e63946;
    width:100%;
}

.form-wrapper label{
    display: block;
}

.form-wrapper .form input{
    padding:0.5rem;
    width:100%;
}
.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content:"*";
    color:#e63946;
}
.form-wrapper .form textarea{
    width:100%;
    height: 300px;
    padding: 1rem;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding:0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color:#fff;
    outline: none;
    border:none;
    cursor:pointer;
}


/*########### MEDIA QUERIES ############  */
@media (max-width:500px){
    html{
        font-size: 50%;
    }
    .navbar .nav-items, .navbar .logo{
        float:none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .row{
        height:auto;
        width: 100%;
    }

    .row .image-box,
    .row .text-box{
        float: none;
        width:100%;
        text-align: center;
    }

    .features .box{
        float:none;
        width:100%;
        text-align: center;
    }

    .features .box-2,
    .features .box-3{
        margin-top: 7rem;
    }

    .box-wrapper{
        box-shadow: none;
    }

    .cta-banner-left,
    .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }

    .form-wrapper .company-address{
        float:none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float:none;
        width: 100%;
        height: auto;
    }

}












