html{
    font-size: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightcyan;
}

h1{
    font-size: 10rem;
}
p{
    font-size: 5rem;
}
    
@media (max-width: 500px){
    html{
        font-size: 5px;
    }
    body{
        background: lightcoral;
    }
}

@media (min-width:501px) and (max-width:768px){
    body{
        background: lightgoldenrodyellow;
    }
}

@media (min-width:769px) and (max-width:1024px){
    body{
        background: pink;
    }
}   
@media (min-width:1025px){
    body{
        background: rgb(152, 199, 235);
    }
}